@model onlineWingStore.Models.CustomerFeedBackTable

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@section AdminAfterLogin
{
      
     <li><a href="/Product/Create">Add Product</a></li>
     <li><a href="/Product/Index">Show All Products</a></li>                                 
     <li><a href="/CustomerFeedBack/Index">Customer Response</a></li> 
     <li><a href="/Admin/UploadFile">Upload File</a></li>
     <li><a href="/Admin/SportsShoes">Sports Shoes</a></li>
     <li><a href="/Admin/SaftyShoes">Safty Shoes</a></li>
     <li><a href="/Admin/OtherShoes">Other</a></li>     
     

}

@section AdminAfterLoginTwo
{
    <li><a href="/Admin/AdminMainPage">Home</a></li>
    <li><a href="/Admin/LogoutAction">Logout</a></li>

}
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CustomerFeedBackTable</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ViewId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ViewId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Views)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Views)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
